*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6f2ff;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 210px);
}

.nav-box {
    grid-row: 1/-1;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    background-color: red;
    height: 150px;
}

main {
    background-color: yellow;
    height: 1200px;
}

.menu {
    background-color: green;
    grid-column: 1/2;
    grid-row: 1/-1;
}