*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

body {
  background-color: #f6f8fc;
  font-family: sans-serif;
  scroll-behavior: smooth; }

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 210px); }

.nav-box {
  grid-row: 1/-1;
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  width: 100%; }

nav {
  height: 150px; }

main {
  height: 1200px; }

.menu {
  grid-column: 1/2;
  grid-row: 1/-1; }

.headeing__bar {
  color: #fff;
  margin: 0 auto;
  margin: 20px 16px;
  font-size: 14px; }

.container__bar {
  width: 100%;
  height: auto;
  background-color: #fff; }

.Bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .Bar__head {
    padding: 7px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; }
  .Bar__item {
    margin-right: 60px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #f6f8fc; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004a99;
  padding: 4px; }
  .logo__box {
    width: 80%; }

.list {
  background-color: #004a99;
  padding: 36px;
  height: 82vh; }
  .list__bar {
    list-style: none; }
    .list__bar-item {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      font-size: 20px;
      width: 100%; }
      .list__bar-item a {
        color: #fff; }
    .list__bar-item:hover {
      background-color: #007bff;
      border-radius: 50px;
      text-decoration: none; }
    .list__bar-item:visited {
      background-color: #fff;
      color: black; }
  .list__icon {
    display: inline;
    color: #fff; }

.list a {
  text-decoration: none; }

.scroll-list {
  overflow-y: scroll;
  height: 500px;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  .scroll-list::-webkit-scrollbar {
    display: none; }

.dashbord {
  padding: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px); }
  .dashbord__item {
    border: 1px solid black;
    padding: 10px;
    text-align: center; }
